<h1>Products</h1>
<br>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Description</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <%= render Pin.all %>
  </tbody>
</table>

<br/>
<% if user_signed_in? %>
<%= link_to "New Pin", new_pin_path %>
<% else %>
<%= link_to "Sign In to Create New Pin", new_user_session_path %>
<% end %>