<div: class="now">
	<div class="span6 offset3">
		<div clas="well"
			<p>
  				<%= @pin.description %>
			</p>
		</div>
	</div>
</div>

<%= link_to 'Edit', edit_pin_path(@pin) %> |
<%= link_to 'Back', pins_path %>
