<H1>About Us</H1>
<H3>we're the best!</H3>
<p>
	<%= link_to "One Month Rails", "http://www.onemonthrails.com" %>
		is a project to learn 
	<%= link_to "Ruby On Rails","http://rubyonrails.org/" %>
	in one month.
</p>
