<% if user_signed_in? %>
<h1> You're signed in</h1>
<% else %>
<div class="row">
	<div class="span8">
		<h1>Home</h1>

		<p>Welcome to
			<%= link_to"A One Month Rails Clone", "http://www.onemonthrails.com"%> 
			<br>
				You Found the RUBY!
			<br>
				<%= link_to"Join the Party",new_user_registration_path, class: "btn btn-custom btn-large"%>
		</p>
	</div>
</div>
<% end %>