<div class="row">
		

	<div class="span8">
		<h1>Home</h1>

		<p>Welcome to
			<%= link_to"Framed", "http://www.fremenderuvo.com"%> 
				You Found the GOLD!<br>
			<%= link_to"twitter", "http://www.twitter.com/fremn"%>
		</p>
	</div>
</div>