$navbarLinkColor: white;

/*$headingsFontFamily:Handlee;
@import url(http://fonts.googleapis.com/css?family=Handlee);
*/


$navbarBackgroundHighlight:#28909C;
$navbarBackground:#195C63;
$navbarLinkColorHover:#AFE7ED;
$navbarLinkColorActive:grayDarker;


@import 'bootstrap';
@import 'bootstrap-responsive';


.hero-unit {
	margin-top:70px
}
.btn-custom {
  float:right;
  background-color: hsl(360, 23%, 21%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#805050", endColorstr="#412929");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#805050), to(#412929));
  background-image: -moz-linear-gradient(top, #805050, #412929);
  background-image: -ms-linear-gradient(top, #805050, #412929);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #805050), color-stop(100%, #412929));
  background-image: -webkit-linear-gradient(top, #805050, #412929);
  background-image: -o-linear-gradient(top, #805050, #412929);
  background-image: linear-gradient(#805050, #412929);
  border-color: #412929 #412929 hsl(360, 23%, 16%);
  color: #fff !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.33);
  -webkit-font-smoothing: antialiased;
}
/* Footer CSS */
.footer {
}
html,
      body {
        height: 100%;
        /* The html and body elements cannot have any padding or margin. */
      }

      /* Wrapper for page content to push down footer */
      #wrap {
        min-height: 100%;
        height: auto !important;
        height: 100%;
        /* Negative indent footer by it's height */
        margin: 0 auto -180px;
      }

      /* Set the fixed height of the footer here */
      #push,
      #footer {
        height: 180px;
      }
      #footer {
        background-color: #FFFFF;
        color:$grayLight;
      }

      /* Lastly, apply responsive CSS fixes as necessary */
      @media (max-width: 767px) {
        #footer {
          margin-left: -20px;
          margin-right: -20px;
          padding-left: 20px;
          padding-right: 20px;
        }
      }
/* End Footer CSS */
