$navbarLinkColor: white;

/*$headingsFontFamily:Handlee;
@import url(http://fonts.googleapis.com/css?family=Handlee);
*/


$navbarBackgroundHighlight:#b91212;
$navbarBackground:#810c0c;
$navbarLinkColorHover:#FFF;
$navbarLinkColorActive:grayDarker;


@import 'bootstrap';
@import 'bootstrap-responsive';


.hero-unit {
	margin-top:70px
}
.btn-custom {
  float: right;
  background-color: hsl(0, 82%, 28%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#b91212", endColorstr="#810c0c");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#b91212), to(#810c0c));
  background-image: -moz-linear-gradient(top, #b91212, #810c0c);
  background-image: -ms-linear-gradient(top, #b91212, #810c0c);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #b91212), color-stop(100%, #810c0c));
  background-image: -webkit-linear-gradient(top, #b91212, #810c0c);
  background-image: -o-linear-gradient(top, #b91212, #810c0c);
  background-image: linear-gradient(#b91212, #810c0c);
  border-color: #810c0c #810c0c hsl(0, 82%, 25%);
  color: #fff !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.19);
  -webkit-font-smoothing: antialiased;
}
/* Footer CSS */
.footer {
}
html,
      body {
        height: 100%;
        /* The html and body elements cannot have any padding or margin. */
      }

      /* Wrapper for page content to push down footer */
      #wrap {
        min-height: 100%;
        height: auto !important;
        height: 100%;
        /* Negative indent footer by it's height */
        margin: 0 auto -180px;
      }

      /* Set the fixed height of the footer here */
      #push,
      #footer {
        height: 180px;
      }
      #footer {
        background-color: #FFFFF;
        color:$grayLight;
      }

      /* Lastly, apply responsive CSS fixes as necessary */
      @media (max-width: 767px) {
        #footer {
          margin-left: -20px;
          margin-right: -20px;
          padding-left: 20px;
          padding-right: 20px;
        }
      }
/* End Footer CSS */
