<div id="footer">
		<div class="container">
			<small><address>
	 		 <strong>Framed Lychee</strong><br>
	  			PO Box Alpha<br>
	  			Austin, Tx 78701<br>
	  		<abbr title="Phone">P:</abbr> (123) 456-7890
			</address>
	 
			<address>
	  			<strong>Full Name</strong><br>
	  			<a href="mailto:#">first.last@example.com</a>
			</address></small>
		</div>
</div>
